@layer tailwind-base, mecore;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer mecore {
  :root {
    --mecore-scale: 1;

    --mecore-color-primary-main: #be202a;
    --mecore-color-primary-background: #fbd5d8;

    --mecore-color-secondary-main: #63ab45;

    --mecore-color-text-primary: #1c231f;
    --mecore-color-text-secondary: #5a5a60;
  }

  .dark {
  }
}

body {
  .ant-layout-sider-trigger {
    color: #1979FF !important;
    box-shadow: -2px 1px 10px -1px rgba(0, 0, 0, 0.29);
  }
}
